<!DOCTYPE html>
<html>

<head>
	<title>Login Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<script>
	function loadDoc() {
		// Variables used to store user input
		var name = document.getElementById("name").value;
		var email = document.getElementById("email").value;
		var password = document.getElementById("password").value;

		// Variables used as part of form validation
		var nameError = document.getElementById("nameError");
		var emailError = document.getElementById("emailError");
		var passwordError = document.getElementById("passwordError");
		var valid = true;

		// Check if name field is empty
		if (name.trim() === "") {
			nameError.innerText = "Name is required";
			valid = false;
		} else {
			nameError.innerText = "";
		}

		// Check if email is empty and/or valid
		var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
		if (email.trim() === "") {
			emailError.innerText = "Email is required";
			valid = false;
		} else if (!emailPattern.test(email)) {
			emailError.innerText = "Enter a valid email address.";
			valid = false;
		} else {
			emailError.innerText = "";
		}

		// Check if password field is empty
		if (password.trim() === "") {
			passwordError.innerText = "Password is required";
			valid = false;
		} else {
			passwordError.innerText = "";
		}

		if (valid) {
			body_data = { name: name, email: email, password: password };
			json_body = JSON.stringify(body_data);

			var xhttp = new XMLHttpRequest();
			xhttp.open("POST", "/register/", true);
			xhttp.setRequestHeader("Content-type", "application/json");
			xhttp.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					console.log("Registration successful!");
					window.location.href = "/";
				} else {
					console.log("Registration failed!");
				}
			};
			xhttp.send(json_body);
		}
	}
</script>

<body>
	<div class="container">
		<h1>Create an Account</h1>
		<form method="POST" action="#">
			<label for="name">Full Name</label>
			<input type="text" id="name" name="name" placeholder="Enter your full name" />
			<span id="nameError" class="error"></span>

			<label for="email">Email</label>
			<input type="text" id="email" name="email" placeholder="Enter your email address" />
			<span id="emailError" class="error"></span>

			<label for="password">Password</label>
			<input type="password" id="password" name="password" placeholder="Enter your password" />
			<span id="passwordError" class="error"></span>

			<button type="button" value="Sign Up" onclick="loadDoc();">
				Sign Up
			</button>
		</form>
	</div>
</body>

</html>